# Copyright 2015 Google Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License

apiVersion: extensions/v1beta1
# Should this be a replication controller.
kind: Deployment
metadata:
  name: django
  labels:
    name: django
spec:
  replicas: 1
  template:
    metadata:
      labels:
        name: django
    spec:
      containers:
      - name: django
        image: gcr.io/{{ GOOGLE_CLOUD_PROJECT }}/django
        {% if minikube %}
        imagePullPolicy: Always
       {%- endif %}
        command: ["/start.sh"]
        env:
        - name: DJANGO_SETTINGS_MODULE
          value: njcoast.settings
        - name: DATABASE_URL
          value: postgres://postgres:postgres@postgres:5432/postgres
        - name: ALLOWED_HOSTS
          value: '[''django'',]'
        - name: C_FORCE_ROOT
          value: "1"
        - name: GEOSERVER_PUBLIC_LOCATION
          value: http://geonode/geoserver/
        - name: GEOSERVER_LOCATION
          value: http://geonode/geoserver/
        - name: SITEURL
          value: http://geonode/
        ports:
        - containerPort: 8000
        volumeMounts:
        {% if has_db -%}
        - name: secrets
          mountPath: /etc/secrets
          readOnly: true
        {%- endif -%}
      {% if hot_reload %}
        - name: reload
          mountPath: /app
      {%- endif %}
      volumes:
      {%- if has_db %}
      - name: secrets
        secret:
          secretName: db-passwords
      {% endif %}
      {%-if hot_reload -%}
      - name: reload
        hostPath:
          path: {{ hotreload_directory }}
      {% endif %}
---

# The polls service provides a load-balancing proxy over the polls app
# pods. By specifying the type as a 'LoadBalancer', Container Engine will
# create an external HTTP load balancer.
# For more information about Services see:
#   https://cloud.google.com/container-engine/docs/services/
# For more information about external HTTP load balancing see:
#   https://cloud.google.com/container-engine/docs/load-balancer
apiVersion: v1
kind: Service
metadata:
  name: django
  labels:
    name: django
spec:
  type: LoadBalancer
  ports:
  - port: 8000
    targetPort: 8000
  selector:
    name: django
