---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: geoserver
spec:
  replicas: 1
  template:
    metadata:
      labels:
         name: geoserver
    spec:
      containers:
      - name: geoserver
        image: gcr.io/{{ GOOGLE_CLOUD_PROJECT }}/geoserver
        ports:
        - containerPort: 8080
        env:
        - name: PUBLIC_PORT
          value: "80"
        - name: DJANGO_URL
          value: http://django:8000/
        - name: GEOSERVER_PUBLIC_LOCATION
          value: http://geonode/geoserver/
        - name: GEOSERVER_LOCATION
          value: http://geoserver:8080/geoserver/
        - name: GEOSERVER_DATA_DIR
          value: /geoserver_data/data
        - name: SITEURL
          value: http://geonode/
        volumeMounts:
        - name: geoserverdata
          mountPath: /geoserver_data/data
      volumes:
      - name: geoserverdata
        persistentVolumeClaim:
          claimName: geoserver-data
