---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  creationTimestamp: null
  name: geonode
spec:
  replicas: 1
  template:
    metadata:
      creationTimestamp: null
      labels:
        name: geonode
    spec:
      containers:
        - image: gcr.io/{{ GOOGLE_CLOUD_PROJECT }}/nginx
          imagePullPolicy: Always
          name: nginx
          ports:
            - containerPort: 443
            - containerPort: 80
      restartPolicy: Always
-
